$black: #000000;
$white: #FFFFFF;
$yellow: #FED74B;
$yellow-dark: #CBA500;
$violet: #7553FF;
$blue: #099CE8;
$blue-light: #C5DCFF;
$blue-dark: #6BA6FF;
$grey: #9E9E9E;
$grey-dark: rgba(130, 130, 130, 0.3);
$grey-special: #404040;

$stock-bg-color: $yellow;
$stock-special-bg-color: $violet;
$stock-unique-bg-color: $blue;
$stock-color: #3E3E3E;

$card-info-time-color: $grey;
$card-border-color: rgba(130, 130, 130, 0.3);
$description-text-color: $grey-special;

$terms-text-color: #4B4B4B;
$term-sessions-item-bg-color: #D9E8FF;
$term-sessions-item-time-color: #343434;
$term-sessions-item-bg-active-color: $blue-dark;

$card-button-bg-color: $yellow;
$card-button-border-color: $yellow-dark;
$card-button-color: $grey-special;


$default-font: "Open Sans", "Arial", sans-serif;


$mobile-width: 375px;
$tablet-width: 580px;
$desktop-width: 1140px;
